<div class="box-container" >

  <div class="app-title">Simple example app for the ngx-swiper-wrapper</div>

  <div class="info-container">
    You can change the basic settings of the Swiper area by clicking the buttons on the controls pane.
  </div>

  <div class="horizontal-container" >

    <div class="vertical-container" >
      <div class="box-title">Swiper</div>

      <div class="content-container">

        <swiper class="swiper-container" [config]="config" [disabled]="disabled"
            (indexChange)="onIndexChange($event)"
            (swiperTransitionStart)="onSwiperEvent('transitionStart')"
            (swiperTransitionEnd)="onSwiperEvent('transitionEnd')" >

          <div *ngFor="let slide of slides" class="swiper-slide">

            <div style="text-align:center; vertical-align:center" (click)="onSwiperTouch(slide.id)" >
              {{slide.name}}
              <img src="{{slide.image}}" alt="{{slide.name}}" style="max-width:100%; max-height:100%;">
            </div>

          </div>

        </swiper>

      </div>
    </div>
  </div>
</div>
